*{
    margin: 0;
    padding:0;
    overflow:hidden;
}
body{
    background:url("images/bg.jpg");
    align-items: center;
}
.fields{
    margin:2rem;
    border:2px solid palevioletred;
}
.canvas{
    margin:2rem;
    height:600px;
   width:600px;
   border:10px solid palevioletred;
   background-color:pink;
}