*{
    margin: 0;
    padding:0;
    overflow:hidden;
}
body{
    background:url("images/bg.jpg");
    align-items: center;
}
.fields{
    margin:2rem;
}
.canvas{
    height:200px;
   width:200px;
   background-color:pink;
}